@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Open+Sans:wght@400;500;700&display=swap');

:root {
    --main-color: #7435f3;
    --secondary-color: #BA64BC;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 22px;
    font-family: "Montserrat" ,sans-serif;
}

body {
    max-width: 100%;
}

.custom_container {
    margin-left: 7vw;
    margin-right: 7vw;
}
.text_center {
    text-align: center;
}
.text_right {
    text-align: right;
}

@media (max-width: 900px) {
    html {
        font-size: 12px;
    }
    .custom_container {
        margin-left: 2vw;
        margin-right: 2vw;
    }
}